
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;

    ul{
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
}
